<h1><%= @title %></h1>
<link rel="stylesheet" href="/style.css">

<div class="fortune" style="font-size: 1.5em; line-height: 1.8em; padding: 20px; background: #ffe6f0; border-radius: 10px; box-shadow: 0 0 10px rgba(255,0,100,0.2);">
  💌 診断結果＆アドバイス:<br>
  <%= @answer['memo'] %>
</div>
<a href="/">アンケートに戻る</a>
